* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
}

button {
    all: unset
}

.container::before {
    content: '';
    background: linear-gradient(to right,
            rgba(25, 30, 50, 0.75),
            rgba(25, 30, 50, 0.75)),
        url("./assets/Banner.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.list {
    display: flex;
}

.logo{
    height : 6vh;
}

.list-item {
    color: #FFC233;
    list-style: none;
    margin: 0 50px 0 50px;
    font-size: 20px;
}

.button-small {
    font-size: 25px;
    background-color: #FF505F;
    color: #FFFFFF;
    padding: 10px 40px;
}

/* ---------- HERO ------------ */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-heading {
    font-family: 'Dela Gothic One', cursive;
    color: #FFC233;
    font-size: 76px;
    width: 1000px;
    letter-spacing: 0.2rem;
}

.button-large {
    font-size: 25px;
    background-color: #FF505F;
    color: #FFFFFF;
    padding: 20px 60px;
    margin-top: 40px;
}

.bottom {
    position: absolute;
    bottom: 10px;
    right: 100px;
}